{% layout "layouts/base.liquid" %}

{% block header %}{% include 'components/includes/_header.liquid' %}{% endblock %}

{% block content %}

<main id="indexmain">
  <section id="contenthead">
    <h1>Welcome To AniNews</h1>
    <p>AniNews is the anime platoform for you if your looking for the latest anime and news!</p>
  </section>
  <section id="mainimage">

      <h2>This Season</h2>

      <div class="owl-carousel owl-theme">


      {% assign count = 0 %}

      {% for article in newsData.data %}
        {% if count < 5 %}
          <div class="item">
            <img src="{{ article.images.jpg.image_url }}" alt="{{ article.title }}">
            <div class="carousel-text">
              <h3>{{ article.title }}</h3>
              <p>{{ article.synopsis | truncate: 400, '...' }}</p>
              {% if article.episodes %}
              <p>Episodes: {{ article.episodes }}</p>
              {% else %}
              <p>Episodes: T.B.D.</p>
              {% endif %}

              {% if article.status %}
                <p>Status: {{ article.status }}</p>
                {% else %}
                <p>Status: T.B.D.</p>
                {% endif %}

                {% if article.score %}
                  <p>Score: {{ article.score }}</p>
                  {% else %}
                  <p>Score: T.B.D.</p>
                  {% endif %}

              {% assign formatted_title = article.title | replace: ' ', '-' | downcase %}
              <a class="btn" href="/anime/{{ formatted_title }}">{{ "Read More" }}</a>
            </div>
          </div>
          {% assign count = count | plus: 1 %}
        {% endif %}
      {% endfor %}

        
        
    </div>
  </section>

</main>

{% endblock %}

{% block footer %}{% include 'components/includes/_footer.liquid' %}{% endblock %}



{% comment %} <ul class="grid">
  {% for movie in movieData.results %}
    {% if movie.original_title %}
      {% assign mov = movie.original_title %}
    {% else %}
      {% assign mov = movie.name %}
    {% endif %}
    <li>
      <a href="/movie/{{ movie.id }}">
        {% render 'components/poster/poster.liquid', movie: movie %}
      </a>
    </li>
  {% endfor %}
</ul> {% endcomment %}